* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.price {
    width: 1197px;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    border: 28px solid rgb(55, 71, 101);
    border-collapse: collapse;
    text-transform: uppercase;
}
td {
    width: 157px;
}
td:nth-child(2n) {
    background-color:  #e3e3e3;
    box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.75);
}
td:nth-child(odd) {
    background-color:  #f2f2f2;
    box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.75);
}
.fas,
.far {
    display: block;
    font-size: 24px;
    color:  #848484;
    margin-bottom: 5px;
}
.br {
    display: block;
}
.bold {
    font-weight: 700;
}
.price-choose {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-top: 39px;
}
.price-plan {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 38px;
    display: block;
}
.price-rate {
    color:  #fff;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
}
.price-note {
    color:  #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.price-coin {
    color:  #fff;
    font-size: 18px;
    font-weight: 700;
    vertical-align: top;
    line-height: 28px;
}
.price-mount {
    color:  #fff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
}
.price-standart {
    background-color: rgb(138, 196, 45);
    box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.75);
}
.price-ultimate {
    background-color: rgb(240, 73, 85);
    box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.75);
}
.price-premium {
    background-color: rgb(26, 129, 125);
    box-shadow: 0px -2px 3px -2px rgba(0,0,0,0.75);
}
.price-link {
    padding: 15px 34px 13px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
    border-bottom: 5px solid rgb(49, 49, 49);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px;
    transition: 0.5s;
}
.price-link:hover {
    background-color: #353535;
    border-bottom: 5px solid #2F2F2F; 
}